.muiGrid {
    width: 100vw;
    height: 100vh;
      
    // border-style: dashed;
    // border-color: red;
  }
  
  .muiBox {
    height: 90.758vh;
    width: 94.359vw;
    margin: 0 auto;
    margin-top: 4.739vh;
  
    // border-style: solid;
  }
  
  .muiHeader {
    height: 7.109vh;
  
    // border-style: dashed;
    // border-color: cyan;
  }
  
  .muiTitle {
    margin: 0 auto;
    height: 11.256vh;
    width: 85.897vw;
  
    // border-style: dashed;
    // border-color: magenta;
  }
  
  .muiDescription {
    margin: 0 auto;
    height: 15.047vh;
    width: 85.897vw;
  
    // border-style: dashed;
    // border-color: turquoise;
  }
  
  .muiForm {
    margin: 0 auto;
    height: 33.057vh;
    width: 85.897vw;
  
    // border-style: dashed;
    // border-color: coral;
  }
  
  .buttonBox {
    margin: 0 auto;
    height: 24.289vh;
    width: 85.897vw;
  
    // border-style: dashed;
    // border-color: aqua;
}

.secondaryButton {
  margin-bottom: 1.066vh;
}
