.muiBox {
    height: 100%;
    width: 85%;
    margin: 0 auto;
  
    // border-style: dashed;
    // border-color: magenta;
}

.muiBox1 {
    width: 40%;
    margin: 0 auto;
    margin-top: -42px;
  
    // border-style: dashed;
    // border-color: cyan;
}

.arrowIcon {
    // position: absolute;
    // margin-left: -10vh;
    margin-left: -35px;

    // border-style: dashed;
    // border-color: purple;
}